<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	 <label for="name">Name Your Pony:</label>
	 <br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="field">
	 <label for="description">Add A Description: </label> <span><i>(I'll consider this for inspiration if your pony wins)</i></span>
	 <br>
    <%= f.text_area :description, :class => 'form-control' %>
	 <br>

  </div>
  <div class="actions">
    <%= f.submit "Add Pony To List" %>
  </div>
<% end %>
